@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One:ital,wght@0,400;0,700;1,400&display=swap");

html {
  font-family: RocknRoll One, "Hoefler Text", Georgia, "Times New Roman", Times, Roman, serif;
  background: purple;
  font-size: 2em;
}

h1 {
  font-size: 100%;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: left;
}


@media screen and (min-width: 40em) {
  #wrap {
    display: inline-block;
    justify-content: center;
  }

}


input {
  margin-bottom: 15px;
  font-size: 75%;
}

label {
  display: black; width: 50em;
  font-size: 75%;
{